<div class="login-page">
    <div class="container h-100">
      
      <div class="row h-100 align-items-center justify-content-center">
        
        <div class="col-md-8">
          <div class="card p-4 shadow">
            
            <h1 class="text-center mb-4">Login</h1>
  
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
              <div class="mb-4">  
                <label for="email" class="form-label">Email address</label>  
                <input type="email" class="form-control" id="email" formControlName="email">  
                @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                  <div class="text-danger">
                    Email is required and must be a valid email address
                  </div>
                }
              </div>  

  
              <div class="mb-4">  
                <label for="password" class="form-label">Password</label>  
                <input type="password" class="form-control" id="password" formControlName="password">  
                @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                  <div class="text-danger">
                    Password is required and must be at least 6 characters long
                  </div>
                }
              </div>  
  
              <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
              
              <div class="mt-3 text-center">
                <a [routerLink]="['/register']" class="text-decoration-none text-light">Don't have an account? Register here</a>
              </div>
            </form>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>