// .login-page {
//     height: 100vh;
//     background-image: url('./../../../../../public/homeFlex.png');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//   }
  .login-page {
    height: 100vh;
    background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url('./../../../../../public/homeFlex.png');
    background-size: cover;
    background-position: center;
  }