<div class="card h-100">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie().poster_path" class="card-img-top" alt="{{ movie().title }}">
    <div class="card-body">
        <h5 class="card-title">{{ movie().title }}</h5>
        <p class="card-text">{{ movie().overview }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a  (click)="clikedMovieToAddToWatchlistToBseSentTEmitted.emit(movie().id)"
             class="btn btn-primary mx-2"><i class="bi bi-plus"> Watchlist</i></a>
            <a [routerLink]="['/movies/movie-details', movie().id]" class="btn btn-primary mx-2"><i class="bi bi-eye"> Details</i></a>
        </div>
</div>