<div class="register-page">
    <div class="container h-100">
      
      <div class="row h-100 align-items-center justify-content-center">
        
        <div class="col-md-8">
          <div class="card p-4 shadow">
            
            <h1 class="text-center mb-4">Register</h1>
  
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">  
              <div class="mb-4">  
                <label for="email" class="form-label">Email address</label>  
                <input type="email" class="form-control" id="email" formControlName="email">  
              </div>  
  
              <div class="mb-4">  
                <label for="password" class="form-label">Password</label>  
                <input type="password" class="form-control" id="password" formControlName="password">  
              </div>  
  
              <button type="submit" class="btn btn-primary w-100">Register</button>
              
              <div class="mt-3 text-center">
                <a routerLink="/login" class="text-decoration-none text-light">Already have an account? Login here</a>
              </div>
            </form>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
